*{
	margin: 0;
	padding: 0;
	font-family: helvetica,arial,sans-serif;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}

/* navbar */
.navbar{
	background-color: #2D2D2D;
	border:none;
}
.navbar-default .navbar-nav li a{
	color:#e7e7e7;
}
.navbar-default .navbar-nav li a:active{
	color:#e7e7e7;
}
.navbar-default .navbar-nav li a:visited{
	color:#e7e7e7;
}

/* background */
#home{
	background-image: url(../images/background_black.jpg);
  	background-size: cover;
  	width: 100%;
}
#topRow{
	margin-top: 100px;
	text-align: center;
	color:#d5d5d5;

}
#topRow h1{
	font-size: 350%;

}
#topRow .description{
	font-size:110%;
}
/*mailing list*/
.btn{
	background-color: #2D2D2D;
	border-color: #2D2D2D;
}
.marginTop{
	margin-top: 50px;
}
.center{
	text-align: center;
}